node_modules/
dist/
out/
.vscode-test/
test/integration/workspace/.vscode/
test/integration/workspace/fixture/
test/integration/shigan-test.code-workspace
test/integration/workspace-secondary/
test/integration/workspace-multiroot/
test/integration/workspace-rust-multiroot/
*.vsix
.vscode
artifacts